@{
    ViewData["Title"] = "الصفحة الرئيسية";
    Layout = "_Layout";
}

<style>
    .marquee-container {
        background-color: #ffffff;
        color: #721c24;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 1px;
    }

    .marquee-content {
        display: inline-block;
        animation: marquee 10s linear infinite;
    }

    @@keyframes marquee {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }
</style>

<div class="marquee-container">
    <div class="marquee-content">
        🚨 Announcement: 50% off all products! 🚨
    </div>
</div>
